.subj_table td[corrpred] {
    background-color: rgba(84, 209, 0, 0.231);
}

.subj_table td[inclpred] {
    background-color: #eeff003b;
}

#subject_table_container {
    width: 100%;
    overflow-x: auto;
}
