.caption {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

table {
    border-collapse: collapse;
    font-size: medium;
}

td, th {
    border: 1px solid #dddddd;
    padding: 0.5rem;
}

td[benchdata] {
    font-family: 'Courier New', Courier, monospace;
}

tr:nth-child(even) {
    background-color: #ddddddcc;
}